---
import BasePaginas from '../layouts/BasePaginas.astro';
---
<BasePaginas title='MedicData'>
    <div class="h-screen w-full bg-blue-200 flex flex-col lg:flex-row md:flex-row xl:flex-row sm:flex-col xs:flex-col">      
       
        <div class="h-screen w-1/2 flex flex-col  sm:w-full xs:w-full sm:h-1/2- xs:h-1/2"> 
            
            
            <div class=" h-1/2 md:h-1/2 lg:h-1/2 sm:h-5/6 xs:h-5/6">
                <div class="bg-gradient-to-r from-sky-500 to-indigo-900 banner flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-full  w-full">
                    <h2 class="titulo-banner mb-4 font-bold uppercase text-white">Misión</h2>
                    <br>
                    <p class="sm:px-7 md:px-10 lg:px-3 mb-4 text-center text-white">Facilitar a las clínicas privadas la implementación de un sistema robusto y seguro para la gestión de expedientes médicos, permitiendo un acceso rápido y seguro a la información clínica de los pacientes. Nos comprometemos a mejorar la eficiencia operativa y la calidad del servicio médico mediante tecnología de vanguardia, asegurando la confidencialidad y precisión de los datos médicos.</p>
                      
                </div>
            </div>



            <div class="bg-fixed bg-cover bg-center bg-no-repeat bg-back-pattern h-1/2 lg:h-1/2 md:h-3/6 sm:h-6/6 xs:h-1/6"></div>
        </div>






        <div class="h-screen w-1/2 flex flex-col sm:w-full xs:w-full sm:h-1/2- xs:h-1/2">
            <div class="bg-fixed bg-cover bg-center bg-no-repeat bg-back-pattern h-1/2 lg:h-1/2 md:h-3/6 sm:h-6/6 xs:h-1/6"></div>
            <div class=" h-1/2 md:h-1/2 lg:h-1/2 sm:h-5/6 xs:h-5/6">
                <div class="bg-gradient-to-r from-sky-500 to-indigo-900 banner flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-full  w-full">
                    <h2 class="titulo-banner mb-4 font-bold uppercase text-white">Visión</h2>
                    <br>
                    <p class="sm:px-7 md:px-10 lg:px-3 mb-4 text-center text-white">Ser líderes en el desarrollo de soluciones tecnológicas innovadoras para clínicas privadas, transformando la gestión de expedientes médicos y la atención hospitalaria. Nos esforzamos por establecer estándares de excelencia en la industria de la salud, contribuyendo a la mejora continua de los servicios médicos y a la satisfacción tanto de los pacientes como del personal clínico.</p>
                      
                </div>
            </div>
        </div>
        
    </div>
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
          <div class="max-w-2xl">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conoce a Nuestro Equipo</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600"></p>
          </div>
          <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
            <li>
              <div class="flex items-center gap-x-6">
                <img class="h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div>
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Angie Arias</h3>
                  <p class="text-sm font-semibold leading-6 text-indigo-600">Co-Founder / CEO</p>
                </div>
              </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                  <img class="h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Karen Bautista</h3>
                    <p class="text-sm font-semibold leading-6 text-indigo-600">Co-Founder / CEO</p>
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </div>
</BasePaginas>