---
import BasePaginas from '../layouts/BasePaginas.astro';
---
<BasePaginas title='SISTEMA DE PACIENTE mt-30'>
    <div class="h-screen w-full bg-blue-200 flex flex-col lg:flex-row md:flex-row xl:flex-row sm:flex-col xs:flex-col">      
       
        <div class="h-screen w-1/2 flex flex-col  sm:w-full xs:w-full sm:h-1/2- xs:h-1/2"> 
            
            
            <div class=" h-1/2 md:h-1/2 lg:h-1/2 sm:h-5/6 xs:h-5/6">
                <div class="bg-gradient-to-r from-sky-500 to-indigo-900 banner flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-full  w-full">
                    <h2 class="titulo-banner mb-4 font-bold uppercase text-white">Misión</h2>
                    <br>
                    <p class="sm:px-7 md:px-10 lg:px-3 mb-4 text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam 
                      doloribus voluptatum totam incidunt dicta! Dicta, officia dolorum 
                      quaerat nemo eaque consectetur natus debitis perspiciatis veniam quos.
                      Perferendis dolorem dodfgdrtgelorquaerat nemo eaque consectetur natus debitis perspiciatis veniam quos.
                      Perferendis dolorem dodfgdrtgelorquaerat nemo eaque consectetur natus debitis perspiciatis veniam quos.
                      Perferendis hola hola hol dolorem dodfgdrtgelor eius? Lorem ipsum dolor sit amet placeat 
                      officiis atque ut expedita?</p>
                      
                </div>
            </div>



            <div class="bg-fixed bg-cover bg-center bg-no-repeat bg-back-pattern h-1/2 lg:h-1/2 md:h-3/6 sm:h-6/6 xs:h-1/6"></div>
        </div>






        <div class="h-screen w-1/2 flex flex-col sm:w-full xs:w-full sm:h-1/2- xs:h-1/2">
            <div class="bg-fixed bg-cover bg-center bg-no-repeat bg-back-pattern h-1/2 lg:h-1/2 md:h-3/6 sm:h-6/6 xs:h-1/6"></div>
            <div class=" h-1/2 md:h-1/2 lg:h-1/2 sm:h-5/6 xs:h-5/6">
                <div class="bg-gradient-to-r from-sky-500 to-indigo-900 banner flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-full  w-full">
                    <h2 class="titulo-banner mb-4 font-bold uppercase text-white">Visión</h2>
                    <br>
                    <p class="sm:px-7 md:px-10 lg:px-3 mb-4 text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam 
                      doloribus voluptatum totam incidunt dicta! Dicta, officia dolorum 
                      quaerat nemo eaque consectetur natus debitis perspiciatis veniam quos.
                      Perferendis dolorem dodfgdrtgelorquaerat nemo eaque consectetur natus debitis perspiciatis veniam quos.
                      Perferendis dolorem dodfgdrtgelorquaerat nemo eaque consectetur natus debitis perspiciatis veniam quos.
                      Perferendis hola hola hol dolorem dodfgdrtgelor eius? Lorem ipsum dolor sit amet placeat 
                      officiis atque ut expedita?</p>
                      
                </div>
            </div>
        </div>
        
    </div>
</BasePaginas>