---
import BasePaginas from '../layouts/BasePaginas.astro';
---
<BasePaginas title='MedicData'>
    <div class="h-screen w-full bg-blue-200 flex flex-col lg:flex-row md:flex-row xl:flex-row sm:flex-col xs:flex-col">      
       
        <div class="h-screen w-1/2 flex flex-col  sm:w-full xs:w-full sm:h-1/2- xs:h-1/2"> 
            
            
            <div class=" h-1/2 md:h-1/2 lg:h-1/2 sm:h-5/6 xs:h-5/6">
                <div class="bg-gradient-to-r from-sky-500 to-indigo-900 banner flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-full  w-full">
                    <h2 class="titulo-banner mb-4 font-bold uppercase text-white">Misión</h2>
                    <br>
                    <p class="sm:px-7 md:px-10 lg:px-3 mb-4 text-center text-white">Facilitar a las clínicas privadas la implementación de un sistema robusto y seguro para la gestión de expedientes médicos, permitiendo un acceso rápido y seguro a la información clínica de los pacientes. Nos comprometemos a mejorar la eficiencia operativa y la calidad del servicio médico mediante tecnología de vanguardia, asegurando la confidencialidad y precisión de los datos médicos.</p>
                      
                </div>
            </div>



            <div class="bg-fixed bg-cover bg-center bg-no-repeat bg-back-pattern h-1/2 lg:h-1/2 md:h-3/6 sm:h-6/6 xs:h-1/6"></div>
        </div>






        <div class="h-screen w-1/2 flex flex-col sm:w-full xs:w-full sm:h-1/2- xs:h-1/2">
            <div class="bg-fixed bg-cover bg-center bg-no-repeat bg-back-pattern h-1/2 lg:h-1/2 md:h-3/6 sm:h-6/6 xs:h-1/6"></div>
            <div class=" h-1/2 md:h-1/2 lg:h-1/2 sm:h-5/6 xs:h-5/6">
                <div class="bg-gradient-to-r from-sky-500 to-indigo-900 banner flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-full  w-full">
                    <h2 class="titulo-banner mb-4 font-bold uppercase text-white">Visión</h2>
                    <br>
                    <p class="sm:px-7 md:px-10 lg:px-3 mb-4 text-center text-white">Ser líderes en el desarrollo de soluciones tecnológicas innovadoras para clínicas privadas, transformando la gestión de expedientes médicos y la atención hospitalaria. Nos esforzamos por establecer estándares de excelencia en la industria de la salud, contribuyendo a la mejora continua de los servicios médicos y a la satisfacción tanto de los pacientes como del personal clínico.</p>
                      
                </div>
            </div>
        </div>
        
    </div>
</BasePaginas>