---
import BasePaginas from '../layouts/BasePaginas.astro';
import Blogs from '../layouts/Blogs.astro';
---
<BasePaginas title="MedicData">
  <div>
    <Blogs>
      
    </Blogs>
  </div>
</BasePaginas>
