---
import BasePaginas from "../layouts/BasePaginas.astro";
---

<BasePaginas title="SISTEMA DE PACIENTE mt-30">
    <div class="mx-auto p-6 bg-gradient-to-r from-sky-500 to-indigo-900 text-white w-full">
        <h2 class="text-2xl font-bold mb-6">    Preguntas Frecuentes</h2>
    
        <div class="space-y-4">
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    Pregunta 1?
                </summary>
                <p class="mt-2 text-white">
                    Respuesta 1
                </p>
            </details>
    
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    Pregunta 2?
                </summary>
                <p class="mt-2 text-white">
                    Respuesta 2
                </p>
            </details>
    
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    Pregunta 3?
                </summary>
                <p class="mt-2 text-white ">
                    Respuesta 3
                </p>
            </details>
    
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    Pregunta 4?
                </summary>
                <p class="mt-2 text-white">
                    Respuesta 4
                </p>
            </details>
    
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    Pregunta 5?
                </summary>
                <p class="mt-2 text-white">
                    Respuesta 5.
                </p>
            </details>
    
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    Pregunta 6?
                </summary>
                <p class="mt-2 text-white">
                    Respuesta 6.
                </p>
            </details>
        </div>
    </div>
    
</BasePaginas>
