---
import BasePaginas from "../layouts/BasePaginas.astro";
---

<BasePaginas title="MedicData">
    <div class="mx-auto p-6 bg-gradient-to-r from-sky-500 to-indigo-900 text-white w-full">
        <h2 class="text-2xl font-bold mb-6">    Preguntas Frecuentes</h2>
    
        <div class="space-y-4">
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    ¿Cómo puedo acceder al sistema?
                </summary>
                <p class="mt-2 text-white">
                    Para acceder al sistema, debes ingresar tu nombre de usuario y contraseña en la página de inicio de sesión. Si es la primera vez que ingresas, asegúrate de seguir las instrucciones de configuración inicial proporcionadas por el administrador de tu clínica.
                </p>
            </details>
        
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    ¿Qué debo hacer si olvidé mi contraseña?
                </summary>
                <p class="mt-2 text-white">
                    Si olvidaste tu contraseña, haz clic en el enlace "¿Olvidaste tu contraseña?" en la página de inicio de sesión y sigue las instrucciones para restablecerla. Recibirás un correo electrónico con los pasos para crear una nueva contraseña.
                </p>
            </details>
        
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    ¿Cómo puedo añadir un nuevo paciente al sistema?
                </summary>
                <p class="mt-2 text-white">
                    Para añadir un nuevo paciente, ve al módulo de Gestión de Expedientes y selecciona "Añadir nuevo paciente". Completa la información requerida y guarda el expediente.
                </p>
            </details>
        
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    ¿Cómo puedo actualizar el historial médico de un paciente?
                </summary>
                <p class="mt-2 text-white">
                    Para actualizar el historial médico, accede al expediente del paciente a través del módulo de Gestión de Expedientes y selecciona la opción "Editar". Realiza los cambios necesarios y guarda la información actualizada.
                </p>
            </details>
        
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    ¿Cómo puedo asignar una cama a un paciente internado?
                </summary>
                <p class="mt-2 text-white">
                    En el módulo de Gestión de Camas, selecciona la cama disponible y luego elige al paciente que deseas asignar. Confirma la asignación para completar el proceso.
                </p>
            </details>
        
            <details class="bg-gray-500 bg-opacity-25 rounded-lg shadow-md p-4">
                <summary class="font-semibold cursor-pointer">
                    ¿Cómo registro una consulta médica?
                </summary>
                <p class="mt-2 text-white">
                    En el módulo de Gestión de Consultas Médicas, selecciona el paciente y completa los detalles de la consulta, incluyendo signos vitales, síntomas, diagnóstico y tratamiento. Guarda la información al finalizar.
                </p>
            </details>
        </div>
        
    </div>
    
</BasePaginas>
