---
export interface Props {
  title: string;
}

const { title } = Astro.props;

interface MenuOption {
  name: string;
  url: string;
}

const menuOptions: MenuOption[] = [
  { name: "MedicData", url: "/" },
  { name: "¿Quiénes Somos?", url: "/about" },
  { name: "Módulos", url: "/mod" },
  { name: "Descargas", url: "/download" },
  { name: "Soporte", url: "/support" },
  { name: "Blogs", url: "/blog" },
];
---

<header
  id="navbar"
  class="bg-white sticky top-0 z-50 transition-colors duration-300"
>
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex items-center gap-x-12">
      <a id="imagen" href="index.astro" class="-m-1.5 p-1.5">
        <span class="sr-only">{title}</span>
        <img 
          class="h-8 w-auto"
          src="/img/icono (3).png"
          alt=""
        />
      </a>
      <div class="hidden lg:flex lg:gap-x-12">
       

        {
          menuOptions.map((option) => (
            <a
              href={option.url}
              class="text-sm font-semibold leading-6 text-gray-900 hover:text-sky-900 hover:border-sky-300 border-b-2 border-transparent transition duration-500"
              onclick="selectMenuOption(event)"
            >
              {option.name}
            </a>
          ))
        }
      </div>
    </div>
    <div class="flex lg:hidden">
      <button
        id="menu-button"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex">
      <a href="/signUp" class="text-sm font-semibold leading-6 text-gray-900 mx-7"
        >Resgistrarse</a
      >
      
      <a href="/signIn" class="text-sm font-semibold leading-6 text-gray-900 mx-7"
        >Iniciar Sesión</a
      >
    </div>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div
    id="mobile-menu"
    class="hidden lg:hidden"
    role="dialog"
    aria-modal="true"
  >
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Sistema</span>
          <img
            class="h-8 w-auto"
            src="/src/img/icono (3).png"
            alt=""
          />
        </a>
        <button
          id="close-menu-button"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Cerrar</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              href="/"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >MedicData</a
            >
            <a
              href="/about"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >¿Quiénes Somos?</a
            >
            <a
              href="/mod"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Módulos</a
            >
            <a
              href="/download"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Descargas</a
            >
            <a
              href="/support"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Soporte</a
            >
            <a
              href="/blog"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Blogs</a
            >
          </div>
          <div class="py-6">
            <a
              href="/signUp"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Resgistrarse</a
            >

            <a
              href="/signIn"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Iniciar Sesión</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.getElementById("menu-button");
    const closeButton = document.getElementById("close-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");
    const navbar = document.getElementById("navbar");
    const menuItems = document.querySelectorAll("nav a");

    menuButton?.addEventListener("click", function () {
      mobileMenu?.classList.remove("hidden");
    });

    closeButton?.addEventListener("click", function () {
      mobileMenu?.classList.add("hidden");
    });

  

  });

 
</script>

<style>
  nav a {
    transition:
      color 0.3s,
      border-color 0.3s;
  }
</style>
