---
import CardCaracteristica from "../components/CardCaracteristica.astro";

export interface Props {
  cardData: {
    claseIcono: string;
    titulo: string;
    descripcion: string;
  }[];
}

const { cardData } = Astro.props;
---
<div class=" bg-gradient-to-r from-sky-500 to-indigo-900 flex flex-col items-center justify-center bg-no-repeat bg-center bg-cover h-96 sm:h-96 md:h-80 lg:h-96 w-full">
    <h2 class="titulo-banner mb-4 font-bold uppercase text-white">CARACTERÍSTICAS</h2>
    {
        cardData.map((card) => (
          <CardCaracteristica
            claseIcono={card.claseIcono}
            titulo={card.titulo}
            descripcion={card.descripcion}
          />
        ))
      }
      
</div>


